body{
    background-color: rgb(133, 224, 14);
}
#hello{
    width:1000px;
    height:50px;
    background-color:rgb(230, 82, 37);
}
#back{
    width:1000px;
    height:2000px;
    margin:0 auto;
    background-color:white;
}
#content{
    width:1000px;
    height:2000px;
    background-color:grey ;
}
#top{
    width:1000px;
    height:200px;
    background-color: aquamarine;
}

.navbutton{
    width:280px;
    text-align:center;
    font-size:16px;
    height:50px;
    text-transform: uppercase;
    line-height: 2,4;
    background-color:magenta;
    margin-left: -40px;
    float:left;
    color:white;
    
}
.navbutton2{
    width:280px;
    text-align:center;
    font-size:16px;
    height:50px;
    text-transform: uppercase;
    line-height: 2,4;
    background-color:azure;
    margin-left: -40px;
    float:left;
    color:black;
    
}
.navbutton:hover{
    background-color: azure;
    color:black;
}
ul{
    list-style-type:none;
    margin:0px;

}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 90px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
a:visited{
    color:white;
}

#hello2{
    width:1000px;
    height:50px;
    background-color:rgb(0, 0, 0);
}
#back2{
    width:1000px;
    height:2000px;
    margin:0 auto;
    background-color:rgb(250, 0, 0);
}
#content2{
    width:1000px;
    height:2000px;
    background-color:rgb(0, 0, 0) ;
}
#top2{
    width:1000px;
    height:200px;
    background-color: rgb(0, 0, 0);
}
.login{
    width:150px;
    height:300px;
    background-color:azure;
    margin:0 auto;
}
